.title{
    color:$calipso;
    text-shadow: 4px 4px $rosa;
}


/*NAVBAR*/

body{
  background: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: $font--primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-content{
  max-width: 1100px;
  height: 100vh;
  margin-left: 150px;//cambio
  margin-right: auto;
  padding-top: 250px;//agregue
  display: inline-block;//cambio
  align-items: center;
  justify-content: right;//cambio
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0.9,0.9,0.9,0.9)), to(rgba(0.5,0.5,0.5,0.5)));
  &__headline{
    font-weight: 500;
    color: $font--color;
    font-size: 5em;
  }
}

//default state
.menu-icon{
  $size: 30px;
  height: $size;
  width: $size;
  position: fixed;
  z-index:2;
  left: 50px;
  top: 30px;
  cursor: pointer;
  &__line{
    height: 2px;
    width: $size;
    display: block;
    background-color: $font--color;
    margin-bottom: 4px;
    transition: transform .2s ease, background-color .5s ease;
  }
  &__line-left{
    width: $size / 2;
  }
  &__line-right{
    width: $size / 2;
    float: right;
  }
}

.nav{
  $width: 100vw;
  $height: 100vh;
  $font--size--calc: calc(2vw + 10px);
  $transition--easing: cubic-bezier(.77,0,.175,1);
  position: fixed;
  z-index:1;
  &:before,&:after{
    content: "";
    position: fixed;
    width:$width;
    height:$height;
    background: rgba(#eaeaea, .2);
    z-index: -1;
    transition: transform $transition--easing $transition--length + s;
    transform: translateX(0%) translateY(-100%);
  }
  &:after{
    background: rgba(#ffffff, 1);/*color fondo cuando cae el menu*/
    transition-delay: 0s;
  }
  &:before{
    transition-delay: .1s;
  }
  &__content{
    position: fixed;
    top:50%;
    transform: translate(0%,-50%);
    width: 100%;
      text-align: center;
    font-size: $font--size--calc;
    font-weight: 200;
    cursor: pointer;
  }
  &__list-item{
    position: relative;
    display: inline-block;
    transition-delay: $transition--length + s;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: opacity .2s ease, transform .3s ease;
    margin-right: 25px;
    &:before{
      content: "";
      position: absolute;
      background: $font--color--active;
      width: 20px;
      height: 1px;
      top: 100%;
      transform: translate(0%, 0%);
      transition: all .3s ease;
      z-index: -1;
    }
    &:hover{
      &:before{
        width: 100%;
      }
    }
  }
}

//active state
body.nav-active{
  $menu--items--count: 4;
  .menu-icon{
    &__line{
      background-color: $rosa;
      transform: translateX(0px) rotate(-45deg);
    }
    &__line-left{
      transform: translateX(1px) rotate(45deg);
    }
    &__line-right{
      transform: translateX(-2px) rotate(45deg);
    }
  }
  .nav{
    visibility:visible;
    &:before,&:after{
      transform: translateX(0%) translateY(0%);
    }
    &:after{
      transition-delay: .1s;
    }
    &:before{
      transition-delay: 0s;
    }
    &__list-item{
      color: $calipso;
      text-shadow: 2px 2px $rosa;
      padding-left: 50px;
      opacity: 1;
      transform: translateX(0%);
      transition: opacity .3s ease, transform .3s ease, color .3s ease;
      @for $i from 0 through $menu--items--count {
        &:nth-child(#{$i}){
          transition-delay: $transition--length * $i / 8 + .5 + s;
        }
      }
    }
  }
}

.home{
  font-family: 'Montserrat Subrayada', sans-serif;
  width:100%;
  height:100vh;
  padding: 10% 0;
}

/*main text */
h3,h4 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  
  &.elegantshadow {
    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: .15em;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
      -5px 10px 1px #7f7d7d, 
      -6px 12px 1px #828181, 
      -7px 14px 1px #868585, 
      -8px 16px 1px #8b8a89, 
      -9px 18px 1px #8f8e8d, 
      -10px 20px 1px #949392, 
      -11px 22px 1px #999897, 
      -12px 24px 1px #9e9c9c, 
      -13px 26px 1px #a3a1a1, 
      -14px 28px 1px #a8a6a6, 
      -15px 30px 1px #adabab, 
      -16px 32px 1px #b2b1b0, 
      -17px 34px 1px #b7b6b5, 
      -18px 36px 1px #bcbbba, 
      -19px 38px 1px #c1bfbf, 
      -20px 40px 1px #c6c4c4, 
      -21px 42px 1px #cbc9c8, 
      -22px 44px 1px #cfcdcd, 
      -23px 46px 1px #d4d2d1, 
      -24px 48px 1px #d8d6d5, 
      -25px 50px 1px #dbdad9, 
      -26px 52px 1px #dfdddc, 
      -27px 54px 1px #e2e0df, 
      -28px 56px 1px #e4e3e2;
  }
  &.deepshadow {
    color: #e0dfdc;
    background-color: #333;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
  }
  &.insetshadow {
    color: #202020;
    background-color: #2d2d2d;
    letter-spacing: .1em;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
  }
  &.retroshadow {
    color: #2c2c2c;
    background-color: #d5d5d5;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
  }
}

/*SECCION 2: ABOUT ME (blanco)*/

.about{
  background:$white;
  width:100%;
  height:50vh;
  padding: 8% 0;
    h1{
    margin-top: 0;
  }
}
.box-der {
  margin-top: 15%;
  padding: 10% 20px; /* Added a percentage value for top/bottom padding to keep the wrapper inside of the parent */
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(-5deg);
    /* sombra borde */
  -moz-box-shadow:0 10px 10px rgba(50, 50, 50, 0.55);
  -webkit-box-shadow: 0 10px 10px rgba(50, 50, 50, 0.55);
  box-shadow: 0 10px 10px rgba(50, 50, 50, 0.55);
}

.box-der > .wrapper-der {
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(5deg);
}

.me{
  margin-top:2%;
  padding: 5% 0;
  .text-about{
    .text-me1{
      font-size:1.4rem;
    }
    .text-me2{
      font-size:1.1rem;
    }
  }
}
.my-photo{
  width:100%;
}

/*SECCION 3: PROJECTS (blanco)*/

.portafolio{
  width:100%;
  height:150vh;
  padding: 5% 0;
}

.view-first{
  background-color: #fff;
  padding: 50px 0;
}
/* INICIO EFECTO HOVER */

//fin efecto hover

/* SECCION 4: SKILLS (color) */

.box-izq {
  margin-top:20px;
  padding: 20% 20px; /* Added a percentage value for top/bottom padding to keep the wrapper inside of the parent */
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
    /* sombra borde */
  -moz-box-shadow:0 10px 10px rgba(50, 50, 50, 0.55);
  -webkit-box-shadow: 0 10px 10px rgba(50, 50, 50, 0.55);
  box-shadow: 0 10px 10px rgba(50, 50, 50, 0.55);
}

.box-izq > .wrapper-izq{
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
}
/* fin caja */

.skills{
  background:$white;
  width:100%;
  padding: 8% 0;
    h2{
    padding-left: 50px;
    margin-top: 2%;
  }
}
.skills-icons{
  margin-top:5%;
}

.icons{
  font-size:5rem;
  color: $white;
  cursor: pointer;
  margin-top:5%;
  div{
    padding:2%;
  }
      &:hover{
      border:2px solid $rosa;
      /*background-color:$rosa;*/
      color: white;
    }
    h5{
      margin-top:-1%;
    }
}

.superpowers{
  margin-top: 2%;
}

.materialize-icon img{
  width:45%;
  height:45%;
}

/* SECCION 5: CONTACT */

.contact{
  width:100%;
  height:100vh;
  padding: 8% 0;
  margin-top:5%;
    i{
      margin-top: 20%;
      color:$white;
    }
}

.icons-contact{
  font-size:20px;
  color:$white;
  p{
    color:$rosa;
    margin-top:10%;
  }
}


/*FOOTER*/

.footer-pic{
  /*background-color:$white;*/
  width:100%;
  height:50px;
    h2{
      font-weight:bold;
      padding-left: 50px;
      letter-spacing: 2px;
    }
    hr{
      width:100%;
      color:$rosa;
    }
    p{
      margin-top:2%;
      color:$rosa;
    }
}
