$magenta:#cf34aa;
$rosa:#ff5891;
$palo-rosa:#cc6699;
$yellow:#ffc72b;
$calipso-oscuro:#00bcd4;
$calipso:#4dd0e1;
$naranjo:#fe7448;
$gris-oscuro:#f3f3f3;
$gris-claro:#fafafa;
$coral:#ff7473;
$white:#fff;
$font-title: 'Montserrat Subrayada', sans-serif;

/* NAVBAR */
$background--color:url('../img/background.jpg');
$icon--color:$rosa;
$font--color:#000000;
$font--color--active:#000000;
$font--primary:'Fira Sans', sans-serif;
$transition--length: .8;